.boxCred {
    width: 500px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    background-color: #a0aec0;
}

.ComBox {
    text-align: center;
    padding: 20px;
}

.cardBox {
    height: 350px;
    width: 300px;
    background-color: #a0aec0;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
}

.cardsAlign {
    display: flex;
    justify-content: center;
}