.boxCred {
    width: 35vw;
    margin: 0 auto;
    border-radius: 5px;
    padding: 2.5rem;
    background-color: #a0aec0;
}

/* CadCliente */

.input{
    border-radius: 3px;
    width: 25vw;
    border: none;
    height: 6vh;
}

.caixa{
    margin: 0 auto;
    width: 10vw;
    height: 20vh;
    background-color: black;
}

.texto{
    text-align: center;
}