.boxCred {
    width: 500px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 40px;
    background-color: #a0aec0;
}
.text{
    text-align: center;
    margin: 0;
}
.box{
    width: 100px;
    height: 100px;
    background-color: black;
    margin-top: 3vh;
    margin-left: 25vh;
}

.input{
    width: 400px;
    height: 43px;
    margin-top: 5px;
    border: 1px;
    border-radius: 4px;
}
.letra{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 30px;
}

.ComBox {
    padding: 20px;
}

.cardBox {
    height: 350px;
    width: 300px;
    background-color: #a0aec0;
    border-radius: 20px;
    padding: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.cardsAlign {
    display: flex;
    justify-content: center;
}

.btn{
    margin-top: 3vh;
    margin-left: 5%;
}