@charset "UTF-8";

.title{
  margin-top: 2%;
  text-align: center;
}
.title::after{
  content: "";
  display: block;
  margin:auto;
  width: 25rem;
  height: 2.5px;
  border-radius: 5px;
  background-color: black;
}

.container{
  display: grid;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.membro-cadastrado{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  height: 25rem;
  overflow: auto;
  padding: 1rem;
}