.text{
    text-align: center;
    margin-top: .5rem;
}
.text::after{
    content: "";
    display: block;
    background-color: black;
    width: 25rem;
    padding: 1px;
    margin: auto;
    border-radius: 2px;
}

.button{
    text-align: center;
    margin-top: 155px;
    font-size: 53px;
    border-radius: 5px;

}

.button1{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    border-radius: 5px;

}
