@charset "UTF-8";

 .text{
    text-align: center;
    margin-top: 2rem;
 }

 .text::after{
    content: "";
    display: block;
    background-color: black;
    width: 20%;
    padding: .1rem;
    border-radius: 3px;
    margin: auto;
 }

 .button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 53px;
  }

 .button1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 51px;
 } 
 

  