.box{
    background-color: #397f98;
    width: 25%;
    height: 350px;
    margin:auto;
    margin-top: 100px;
    border-radius: 10px;
    position: relative;
}

.text{
    background-color:#82eaed;
    width: 75%;
    height: 70px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: black;
    margin: 20px auto;
}

.text_label{
    margin-top: 15px;
    font-size: 20px;
    border: 5 solid;
    margin-left: 45px;
    color: #82eaed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.close-button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.war{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    width: 50%;
    height: 10%;
    text-align: center;
    background-color: #e8ba55;
    margin-top: 32%;
    margin-left: 25%;
}